$black: #000;
$white: #fff;

$primary-orange: #e9c693;
$primary-orange-light: #edd1a8;
$primary-orange-dark: #a38a66;
$bright-orange: #fab044;

$lightest-blue: aliceblue;
$light-blue: #bbd9f4;
$light-beige: #eee0cc;
$electric-blue: #2196f3;